core/src/main/resources/META-INF/xsd/tf4j_configuration_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tf4j-config="http://www.buschmais.com/TinkerForge4Jenkins/core/schema/configuration/v1.1"
	targetNamespace="http://www.buschmais.com/TinkerForge4Jenkins/core/schema/configuration/v1.1"
	elementFormDefault="qualified">

	<xs:element name="configuration" type="tf4j-config:ConfigurationType" />

	<xs:complexType name="ConfigurationType">
		<xs:sequence>
			<xs:element name="jenkins" type="tf4j-config:JenkinsConfigurationType"
				minOccurs="0" />
			<xs:element name="tinkerforge"
				type="tf4j-config:TinkerForgeConfigurationType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="JobsType">
		<xs:sequence>
			<xs:element name="job" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="BuildStateType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAILURE" />
			<xs:enumeration value="UNSTABLE" />
			<xs:enumeration value="ABORTED" />
			<xs:enumeration value="UNKNOWN" />
			<xs:enumeration value="NOT_BUILT" />
			<xs:enumeration value="SUCCESS" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Jenkins client configuration -->

	<xs:complexType name="JenkinsConfigurationType">
		<xs:sequence>
			<xs:element name="url" type="xs:string" minOccurs="0"
				default="http://localhost:8080/" />
			<xs:element name="update-interval" minOccurs="0" default="30">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minExclusive value="0" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="jobs" type="tf4j-config:JobsType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- TinkerForge configuration -->

	<xs:complexType name="TinkerForgeConfigurationType">
		<xs:sequence>
			<xs:element name="connection" type="tf4j-config:ConnectionConfigurationType"
				minOccurs="0" />
			<xs:element name="bricklets" minOccurs="0">
				<xs:complexType>
					<xs:choice maxOccurs="unbounded" minOccurs="0">
						<xs:element name="dualRelay"
							type="tf4j-config:DualRelayConfigurationType" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element name="lcd16x2" type="tf4j-config:LCD16x2ConfigurationType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="lcd20x4" type="tf4j-config:LCD20x4ConfigurationType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="io4" type="tf4j-config:IO4ConfigurationType"
							minOccurs="0" maxOccurs="unbounded" />
						<xs:element name="piezobuzzer"
							type="tf4j-config:PiezoBuzzerConfigurationType" minOccurs="0"
							maxOccurs="unbounded" />
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- TinkerForge Connection -->

	<xs:complexType name="ConnectionConfigurationType">
		<xs:sequence>
			<xs:element name="host" type="xs:string" default="localhost" />
			<xs:element name="port" type="xs:int" default="4223" />
		</xs:sequence>
	</xs:complexType>

	<!-- Bricklets -->

	<xs:complexType name="AbstractBrickletConfigurationType"
		abstract="true">
		<xs:sequence>
			<xs:element name="uid" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- Dual Relay Bricklet -->

	<xs:complexType name="DualRelayConfigurationType">
		<xs:complexContent>
			<xs:extension base="tf4j-config:AbstractBrickletConfigurationType">
				<xs:sequence>
					<xs:element name="port" type="tf4j-config:DualRelayPortType"
						maxOccurs="2" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DualRelayPortType">
		<xs:sequence>
			<xs:element name="id">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="jobs" type="tf4j-config:JobsType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- LCD Bricklets -->

	<xs:complexType name="AbstractLCDConfigurationType"
		abstract="true">
		<xs:complexContent>
			<xs:extension base="tf4j-config:AbstractBrickletConfigurationType">
				<xs:sequence>
					<xs:element name="jobs" type="tf4j-config:JobsType"
						minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LCD16x2ConfigurationType">
		<xs:complexContent>
			<xs:extension base="tf4j-config:AbstractLCDConfigurationType" />
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LCD20x4ConfigurationType">
		<xs:complexContent>
			<xs:extension base="tf4j-config:AbstractLCDConfigurationType" />
		</xs:complexContent>
	</xs:complexType>

	<!-- IO4 Bricklet -->

	<xs:complexType name="IO4ConfigurationType">
		<xs:complexContent>
			<xs:extension base="tf4j-config:AbstractBrickletConfigurationType">
				<xs:sequence>
					<xs:element name="jobs" type="tf4j-config:JobsType"
						minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Piezo Buzzer Bricklet -->

	<xs:complexType name="PiezoBuzzerConfigurationType">
		<xs:complexContent>
			<xs:extension base="tf4j-config:AbstractBrickletConfigurationType">
				<xs:sequence>
					<xs:element name="jobs" type="tf4j-config:JobsType"
						minOccurs="0" />
					<xs:element name="onFailure" type="tf4j-config:MorseCodeType"
						default="...---..." minOccurs="0" />
					<xs:element name="onUnstable" type="tf4j-config:MorseCodeType"
						default="...---..." minOccurs="0" /> <!-- ! -->
					<xs:element name="onAborted" type="tf4j-config:MorseCodeType"
						minOccurs="0" /> <!-- ? -->
					<xs:element name="onUnknown" type="tf4j-config:MorseCodeType"
						minOccurs="0" /> <!-- ? -->
					<xs:element name="onNotBuilt" type="tf4j-config:MorseCodeType"
						minOccurs="0" /> <!-- ? -->
					<xs:element name="onSuccess" type="tf4j-config:MorseCodeType"
						minOccurs="0" /> <!-- Ok -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:simpleType name="MorseCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[.\-\s]*"></xs:pattern>
			<xs:minLength value="1" />
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
